/*
 *  Draco HTML Template by @flamekaizar
 *  License: Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display SC", serif;
  color: #333333; }

a, p, li {
  font-family: "Lato", Arial, sans-serif;
  color: #4e4e4e;
  font-size: 1em;
  line-height: 1.75em; }

a:hover {
  text-decoration: none !important;
  color: #333333 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.container {
  margin: auto;
  max-width: 800px;
  padding: 0 20px; }

@media only screen and (max-width: 767px) {
  .intro img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  footer {
    text-align: center; } }
.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.main-nav {
  background: #f4f4f4;
  padding-top: 23px; }
  .main-nav nav ul li a {
    color: #a7a7a7; }
  .main-nav nav ul li.active a {
    color: #4d4d4d; }

.section.second {
  margin-bottom: 90px; }
.section .container {
  position: relative; }
  .section .container:after {
    position: absolute;
    content: url(../img/separator.png);
    left: 20px; }
  .section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative; }

.intro {
  padding: 95px 0px 70px 0px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .intro img {
    /* background-image: url("C:\Users\Racheli\Code\resume-site\img\DSC09480.JPG"); */
    width: 160px;
    height: 160px;
    border-radius: 99px;
    object-fit: cover;
    filter: grayscale(100%);
    /* max-width: 100%;
    height: auto; */
  } 
  .intro .wrap {
    margin: 30px 0px; }
  .intro h1:before {
    position: absolute;
    left: -220px;
    top: -150px;
    font-size: 270px;
    z-index: -1;
    color: #f4f4f4; }
  .intro h1 span {
    font-size: 47px; }

.work .work-list {
  margin-top: 50px;
  margin-left: 0px; }
  .work .work-list .experience li {
    list-style-type: disc; 
    color: #8c8c8c; }
    .work .work-list li a {
      padding-bottom: 5px;
      font-weight: 700;
      text-decoration: none;
      border-bottom: 1px solid #b3b3b3; }
      .work .work-list li a:hover {
        border-bottom: 1px solid #333333; }

.award .award-list {
  margin-left: 0px; 
  list-style: none;
  font-size: 0.9375em;
  color: red;
}
  /* .award .award-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; 
  } */

.skills .skill-list {
  margin-left: 0px; }
  .skills .skill-list li:first-child {
    font-size: 0.9375em;
    color: #8c8c8c; }

.quote {
  background: url('../mg/bg.jpg');
  background-repeat: none;
  padding: 20px 0px;
  margin-top: 120px; }
  .quote h1 {
    margin: 100px 0px;
    padding: 40px 20px;
    border: 5px solid #fff;
    color: #fff; }

footer {
  padding: 50px 0px 0px 0px; }
  footer .social li {
    display: inline;
    margin-left: 20px; 
    margin-left: -90px;
  }
    footer .social li a {
      font-size: 1.25em;
      color: #999999; }

.experience li{
   list-style-type: disc; 
 }
 .work .work-list  .place-of-work { 
    color: #333333;
    font-size: 18px;
 }


 .experience-paragraph {
   font-size: 16px !important; 
   color: 	#5A5A5A !important;
 }
 .experience-paragraph li{
   color: 	#5A5A5A !important;
 }

 .profile {
  height: 160px;
  width: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-left: -20px;
 }

 .project-name {
  color: #333333;
  font-size: 18px;
 }

 .description {
  text-decoration: none;
  color: #8c8c8c;
 }

 .intro-text, .hi {
  margin-left: 152px;
margin-top: -12px;
 }